.asset {
  margin: em($baseline * 2) 0;
}
  .asset--photo {}
  .asset--photo-right {
    float: right;
    margin: em($baseline) (grid-calc(2) * -1) em($baseline) em($baseline);
    max-width: 420px;
    @media screen and (max-width: grid-calc(9)) {
      float: none;
      margin: em($baseline) 0;
      max-width: 100%;
    }
  }
  .asset--photo-left {
    float: left;
    margin: em($baseline) em($baseline) em($baseline) (grid-calc(2) * -1);
    max-width: 420px;
    @media screen and (max-width: grid-calc(9)) {
      float: none;
      margin: em($baseline) 0;
      max-width: 100%;
    }
  }
    .asset--photo__img {
      display: block;
      margin-bottom: em($baseline);
    }
    .asset--photo__widescreen-clip {
      margin-bottom: em($baseline);
      max-height: 544px;
      overflow: hidden;
      position: relative;
      .asset--photo__img {
        display: block;
        max-width: 100%;
        height: auto !important;
        width: auto\9;
        -ms-interpolation-mode: bicubic; 
      }
    }
    .asset--photo__description {
      display: block;
    }
    .asset--photo__caption {
      color: $gray-medium;
      display: inline;
      font-family: $font-sans-alt;
      font-size: em(16);
      font-style: italic;
      line-height: em(22);
    }
    .asset--photo__credit {
      color: $blue-medium;
      display: inline;
      font-family: $font-sans-alt;
      font-size: em(14);
      font-weight: 700;
      line-height: em(22, 14);
      text-transform: uppercase;
    }

  .asset--graphic {
    padding: em($baseline) 0;
  }
    .asset--graphic__img {
      display: block;
      margin: em($baseline) auto;
    }
    .asset--graphic__title {
      color: $black-near;
      font-family: $font-sans;
      font-size: em(18);
      font-weight: 600;
      line-height: em(32);
      margin-top: em($baseline);
      text-transform: uppercase;
    }
    .asset--graphic__caption {
      color: $gray-medium;
      font-family: $font-sans;
      font-size: em(18);
      font-weight: 700;
      line-height: em(32);
    }
      .graphic__caption--emphasis {
        color: $blue-cobalt;
      }

  .asset--audio {
    background: rgba($blue-medium, 0.5);
    cursor: pointer;
    height: em($baseline * 2);
    margin: em($baseline * 2) 0;
    padding-left: 146px;
    position: relative;
    @media (max-width: 700px) {
      padding-left: 100px;
    }
  }
  .asset--audio-playing {
    background: $gray-medium;
  }
    .asset--audio__play-button {
      background: $blue-medium url('../images/ctrl_audio-play.svg') no-repeat 53px 16px;
      width: 128px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      @media (max-width: 700px) {
        background-position: 29px 13px;
        width: 80px;
      }
      .asset--audio:hover & {
        background-color: $blue-cobalt;
      }
    }
    .asset--audio__title {
      color: $white;
      display: inline-block;
      font-family: $font-sans;
      font-size: em(18);
      font-weight: 700;
      margin-top: 19px;
      @media (max-width: 700px) {
        margin-top: 7px;
      }
    }
    .asset--audio__duration {
      color: $white;
      display: inline-block;
      font-family: $font-sans-alt;
      font-size: em(14);
      font-weight: 700;
      margin-left: 18px;
      text-transform: uppercase;
      @media (max-width: 700px) {
        display: block;
        margin: 4px 0 0;
      }
    }