body {
  font-family: "merriweather", serif;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
}
  .theme--dark {
    background: $blue-midnight;
    color: $white;
  }
  .theme--light {
    background: $white;
    color: $gray-dark;
  }
a { 
  text-decoration: none; 
}
img {
  max-width: 100%;
}
