// Bounding blocks to contain content
.bound {
  @include clearfix();
  margin: 0 auto;
  max-width: em(1040px);
}
  // Bounding blocks for simple single column layouts  
  .bound--singlecol {
    @media screen and (max-width: 768px) {
      padding: 0 40px;
    }
  }
  .bound--singlecol-full {
    max-width: em(1440px);
  }
  .bound--singlecol-wide {
    max-width: em(1040px);
  }
  .bound--singlecol-med {
    max-width: em(800px);
  }
  .bound--singlecol-small {
    max-width: em(660px);
  }
  // Floats for simple single column layouts
  .singlecol__one-fourth {
    float:left;
    width: 25%;
  }
  .singlecol__half {
    float: left;
    width: 50%;
  }
  .singlecol__three-fourths {
    float: left;
    width: 75%;
  }

  // Bounding blocks for story layouts
  .bound--story {
    max-width: grid-calc(5);
    @media screen and (max-width: grid-calc(5) - em(2)) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .bound--story-med {
    max-width: grid-calc(6);
    @media screen and (max-width: grid-calc(6) - em(2)) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .bound--story-wide {
    max-width: grid-calc(7);
    @media screen and (max-width: grid-calc(7) - em(2)) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .bound--story-full {
    max-width: grid-calc(9);
    @media screen and (max-width: grid-calc(9) - em(2)) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

// Alignment elements to float content
.bound__push-right {
  margin-left: 60%;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}
.bound__push-left {
  margin-right: 60%;
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}