.header {
  padding: 18px 32px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  @media screen and (max-width: 768px) {
    padding: 18px;
  }
}
  &.header--dark {
    color: $white;
  }
  &.header--light {
    color: $black;
  }
  &.header--solid {
    background: $white; 
  }
  &.header--fixed {
    position: fixed;
    z-index: 50;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &.active {
      box-shadow: 0 0 10px rgba($black, 0.3);
      opacity: 1;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  .header__container {
    padding: 18px 32px;
  }
  .header__branding {
    opacity: 1;
    -webkit-transition: opacity 0.8s linear;
    -moz-transition: opacity 0.8s linear;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    &.hidden {
      opacity: 0;
      -webkit-transition: opacity 0.8s linear;
      -moz-transition: opacity 0.8s linear;
    }
    @media (max-width: em(500px)) {
      img {
        height: 16px;
      }
    }
  }
    .header__pipe {
      background: $white;
      display: inline-block;
      height: 20px;
      margin: 0 8px;
      width: 1px;
      @media (max-width: em(500px)) {
        height: 16px;
      }
      .header--light & {
        background: $black;
      }
      .drawer & {
        @media (max-width: em(500px)) {
          display: none;
        }
      }
    }
    .header__series-title {
      display: inline-block;
      font-family: $font-sans;
      font-weight: 400;
      font-size: 20px;
      vertical-align: bottom;
      @media (max-width: em(500px)) {
        display: none;
      }
    }
    .header__series-title-mobile {
      display: inline-block;
      font-family: $font-sans;
      font-weight: 400;
      font-size: 20px;
      vertical-align: bottom;
      visibility: hidden;
      &:after {
        content: url('../images/icon_caret.svg');
        display: inline-block;
        margin-left: 5px;
        .header--light & {
          content: url('../images/icon_caret-blue.svg');;
        }
      }
      @media (max-width: em(500px)) {
        font-size: 16px;
        visibility: visible;
      }
    }
  .header__menu {
    position: absolute;
    right: 32px;
    top: 16px;
    @media screen and (max-width: 768px) {
      right: 18px;
    }
    &.open {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
    .menu__link {
      @include button-reset();
      color: $white;
      font-family: $font-sans;
      font-size: em(18);
      font-weight: 600;
      text-transform: uppercase;
      .header--light & {
        color: $black-near;
      }
      img, span {
        vertical-align: middle;
      }
      img {
        margin-right: 5px;
      }
    }

// Audio Player UI
.jp-audio {
  background: $white;
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 350px;
  top: 0;
  bottom: 0;
  right: 168px;
  &.now-playing {
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    @media (max-width: em(900px)) {
      left: 0;
    }
    @media (max-width: em(500px)) {
      right: 0;
    }
  }
  button {
    @include button-reset();
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
.jp-controls {
  position: absolute;
  top: 10px;
  left: 20px;
  @media (max-width: em(500px)) {
    top: 7px;
  }
}
.jp-controls-holder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.jp-volume-controls {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100px;
  @media (max-width: em(500px)) {
    top: 7px;
  }
}
.volume {
  position: absolute;
  right: 58px;
  width: 27px;
}
.jp-mute, .jp-volume-max {
  width: 27px;
  height: 27px;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 0;
  &.hidden, &.hidden img{
    margin-top: -1000px;
  }
  @media (max-width: em(500px)) {
    top: 8px;
  }
}
.jp-stop {
  position: absolute;
  right: 0;
  top: 3px;
  @media (max-width: em(500px)) {
    top: 2px;
  }
}
.jp-current-time, .jp-duration {
  color: $gray-medium;
  font-family: $font-sans-alt;
  font-size: em(14);
  position: absolute;
  top: 32px;
}
.jp-current-time {
  left: 80px;
}
.jp-duration {
  right: 125px;
}
.jp-progress {
  position: absolute;
  top: 39px;
  left: 128px;
  right: 180px;
  height: 4px;
}
.jp-seek-bar {
  background: $gray-light;
}
.jp-play-bar {
  background: $blue-muted;
  height: 4px;
}
.jp-title {
  color: $blue-muted;
  font-family: $font-sans;
  font-size: em(14);
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 10px;
}
