// styling for form inputs
.radio {
    margin:42px 0;
}

.radio-inline {
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-left: 10px;
    padding: 6px 10px;
    position: relative;
    cursor: pointer;
    &.selected {
      background: $blue-muted;
    }
    span {
      font-family: $font-sans;
      font-size: em(16);
    }
}
.checkbox-holder {
  margin: 18px 0;
}

label [type="radio"]{
    display: none;
}

[type="radio"] + span{
  display: inline-block;
}

.onoffswitch {
  display: inline-block;
  margin-left: 10px;
  position: relative; width: 37px;
  vertical-align: middle;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}
.peoples, .incidents {
  display: none;
}
.onoffswitch-label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  height: 22px; 
  padding: 0; 
  line-height: 22px;
  border: 2px solid rgba($white, 0.7); 
  border-radius: 22px;
  transition: background-color 0.2s ease-in-out;
}
.onoffswitch-label:before {
  content: "";
  display: block; 
  width: 20px; 
  margin: 0px;
  background: $white;
  position: absolute; 
  top: 3px; 
  bottom: 3px;
  right: 14px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out 0s; 
}
.peoples:checked + .onoffswitch-label, .incidents:checked + .onoffswitch-label {
  background-color: $blue-bright;
}
.peoples:checked + .onoffswitch-label, .peoples:checked + .onoffswitch-label:before, .incidents:checked + .onoffswitch-label, .incidents:checked + .onoffswitch-label:before {
  border-color: $blue-bright;
}
.peoples:checked + .onoffswitch-label:before, .incidents:checked + .onoffswitch-label:before {
  right: 2px; 
}