// styling for form inputs
.radio, .checkbox {
    margin: 30px 0 30px 0;
}

label{
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 10px;
    position: relative;
    cursor: pointer;
    span {
      font-family: $font-sans;
      font-size: em(16);
    }
}

label [type="radio"], label [type="checkbox"]{
    display: none;
}

[type="radio"] + span, [type="checkbox"] + span{
    display: inline-block;
}

:checked + span{
    background: #8eb5ff;
    border: 1px solid #8eb5ff;
}