// Collection of Media, typically article summaries
.media-list {
  @include list-reset();
}
  .media-list__flex {
    display: flex;
    flex-direction: row;
  }
  .media-list__item {
    flex-grow: 1;
    margin: 0 10px; 
  }
  .media-list__heading {
    font-family: $font-sans;
    font-size: em(16);
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
// A single media element, typically an article summary
.media {}
  .media__content {}
  .media__image {
    display: block;
    margin-bottom: 10px;
  }
  .media__title {
    font-size: em(20);
    font-weight: 300;
    line-height: em(26, 20);
  }
  .media__teaser {
    font-size: em(14);
    font-weight: 300;
    line-height: em(20, 14);
  }

  .media--light, .media--light a {
    color: $black-near;
  }
  .media--dark, .media--dark a {
    color: $white;
  }
  .media--asset-left {
    @include clearfix();
    .media__image {
      float: left;
      margin-right: 5%;
      width: 55%;
      @media (max-width: 800px) {
        float: none;
        margin: 0 0 18px;
        width: 100%;
      }
    }
  }
  .media--large {
    .media__title {
      font-size: em(34);
      line-height: em(64, 34)
    }
    .media__teaser {
      font-size: em(18);
      line-height: em(32, 18);
      @media (max-width: 800px) {
        font-size: em(16);
        line-height: em(28, 16);
      }
    }
  }
