// Collection of Media, typically article summaries
.media-list {
  @include list-reset();
}
  .media-list--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: spaced-between;
    @media screen and (max-width: 600px) {
      display: block;
    }
  }
  .media-list--stacked {
    @include clearfix();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: spaced-between;
    position: relative;
    @media screen and (max-width: 600px) {
      height: 80px;
    }
    .media-list__item {
      margin-bottom: em($baseline);
      @media screen and (max-width: 600px) {
        &:nth-of-type(1) {
          left:0;
          position: absolute;
        }
        &:nth-of-type(2) {
          left:100px;
          position: absolute;
        }
        &:nth-of-type(3) {
          margin-top: 40px;
        }
      }
    }
  }
  .media-list__item {
    flex-grow: 1;
    margin: 0 10px; 
    width: 0;
    &:nth-of-type(2) .media-list__heading  {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
    .media-list__item--full {
      margin: 0; 
      width: 100%;
      @media screen and (max-width: 600px) {
        &:nth-of-type(1) {
          margin-left: -33%;
        }
        &:nth-of-type(2) {
          margin-left: -33%;
        }
      }
    }
    .media-list__item--half {
      margin: 0 2%; 
      width: 46%;
      @media screen and (max-width: 600px) {
        margin: 0 0 22px;
        width: 100%;
      }
    }
    .media-list__item--thirds {
      margin: 0 2%; 
      width: 29%;
      @media screen and (max-width: 768px) {
        width: 46%;
      }
      @media screen and (max-width: 600px) {
        margin: 0 0 22px;
        width: 100%;
      }
    }
  .media-list__heading {
    color: $black;
    font-family: $font-sans;
    font-size: em(16);
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
    .media-list__heading--collapse {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .media-list__heading--dark {
      color: $white;
    }
// A single media element, typically an article summary
.media {}
  .media__content {}
  .media__image-container--widescreen {
    max-height: 152px;
    overflow: hidden;
    position: relative;
    .media__image {
      margin-bottom: 0;
      max-width: 100%;
      height: auto !important;
      width: auto\9;
      -ms-interpolation-mode: bicubic; 
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  .media__image-container--cinema {
    margin-bottom: 10px;
    max-height: 72px;
    overflow: hidden;
    position: relative;
    .media--grid-item & {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .media__image {
      margin-bottom: 0;
      max-width: 100%;
      height: auto !important;
      width: auto\9;
      -ms-interpolation-mode: bicubic; 
    }
  }
  .media__link {
    display: block;
    position: relative;
  }
    .media__link--bold {
      color: $blue-medium;
      font-family: $font-sans;
      font-size: em(20);
      font-weight: 600;
      margin-bottom: 18px;
    }
  .media__image {
    display: block;
    margin-bottom: 10px;
  }
    .image--gravity-top {
      margin-top: 0;
    }
    .image--gravity-center-top {
      margin-top: -25%;
    }
    .image--gravity-center {
      margin-top: -50%;
    }
    .image--gravity-center-bottom {
      margin-top: -70%;
    }
    .image--gravity-bottom {
      margin-top: -90%;
    }
  .media__title {
    color: $blue-cobalt;
    font-size: em(20);
    font-weight: 300;
    line-height: em(26, 20);
    margin-bottom: 10px;
    @media screen and (max-width: 600px) {
      margin-bottom: 4px;
    }
  }
  .media__teaser {
    font-family: $font-sans;
    font-size: em(16);
    font-weight: 400;
    line-height: em(20, 16);
    margin: 0;
  }

  .media--light, .media--light a {
    color: $black-near;
  }
  .media--dark, .media--dark a {
    color: $white;
    .media__title {
      color: $blue-medium;
    }
  }
  .media--asset-left {
    @include clearfix();
    .media__image {
      float: left;
      margin-right: 5%;
      width: 55%;
      @media (max-width: 800px) {
        float: none;
        margin: 0 0 18px;
        width: 100%;
      }
    }
  }
  .media--grid-item {
    margin-bottom: 60px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      min-height: em(240px);
    }
    @media screen and (max-width: 600px) {
      min-height: inherit;
    }
  }
  .media--visual-launchpad {
    .media__content, {
      margin: auto;
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 600px) {
        display: block;
      }
    }
    .media__title {
      background: rgba($black, 0.4);
      border: 1px solid rgba($white, 0.4);
      color: $white !important;
      display: inline-block;
      font-family: $font-sans;
      font-size: em(15);
      font-weight: 600;
      margin: 0;
      padding: 6px;
      text-transform: uppercase;
      overflow: auto;
    }
  }
  .media--large {
    .media__title {
      font-size: em(34);
      line-height: em(40, 34)
    }
    .media__teaser {
      font-size: em(18);
      line-height: em(32, 18);
      @media (max-width: 800px) {
        font-size: em(16);
        line-height: em(28, 16);
      }
    }
  }
