.pager--slides {
  position: absolute;
  top: 0;
  bottom:0;
  left: 50%;
  margin-left: -22px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -webkit-transition-delay: 0.3s; /* Safari */
  transition-delay: 0.3s;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.8s linear;
    -moz-transition: opacity 0.8s linear;
  }
}
  .pager--slides__btn {
    @include button-reset();
    color: $white;
    opacity: 0.5;
    position: absolute;
    width: 44px;
    height: 44px;
    &:hover {
      opacity: 1;
    }

    &.next-slide {
      bottom: 26px;
    }

    &.prev-slide {
      top: 26px;
    }
  }
