.nav-controls {
  position: absolute;
  top: 0;
  bottom:0;
  left: 50%;
  margin-left: -22px;
  z-index: 100;
}
  .nav-control {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    position: absolute;
    width: 44px;
    height: 44px;
    &:hover {
      opacity: 1;
    }

    &.next-slide {
      bottom: 26px;
    }

    &.prev-slide {
      top: 26px;
    }
  }
