.rule {
  border: 0;
  margin: 0;
  height: 1px;
  width: 100%;
  @media screen and (max-width: 500px) {
    display: none;
  }
}
  .rule--dark {
    background: $gray-light;
  }
  .rule--light {
    background: $blue-light;
  }
  .rule--pale {
    background: rgba($blue-light, 0.3);
  }
