// Type Styles for the Sequential Narrative
.typography--sequential {
  @media (max-width: em(1000px)) {
    font-size: 14px;
  }
  @media (max-width: em(500px)) {
    font-size: 9px;
  }

  .title {
    font-family: $font-sans;
    font-size: em(68);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    @media screen and (max-width: 500px) {
      margin-top: 18px;
    }
  }
  .subtitle {
    font-size: em(24);
    font-weight: 300;
    padding: 0 40px;
  }

  .heading {
    font-family: $font-sans;
    text-transform: uppercase;
  }
  .heading--section {
    font-size: em(26);
    font-weight: 700;
    line-height: em(34, 26);
    margin-bottom: em(18);
  }
  .heading--category {
    font-size: em(16);
    font-weight: 400;
    line-height: em(20, 16);
  }

  .copy {
    font-weight: 300;
  }
  .copy--big {
    font-size: em(36);
    line-height: em(52, 36);
  }
  .copy--med {
    font-size: em(30);
    line-height: em(48, 30);
    margin-top: 0;
    @media (max-width: em(500px)) {
      font-size: em(26);
    }
  }
  .copy--small {
    font-size: em(18);
    line-height: em(32, 18);
    @media (max-width: em(500px)) {
      font-size: em(22);
    }
  }
  .copy--flush-top {
    margin-top: 0;
  }
  .copy--emphasis {
    color: $blue-bright;
  }
  .copy--instruction {
    color: $blue-muted;
    font-size: em(16);
    line-height: em(24);
    @media (max-width: em(500px)) {
      font-size: em(22);
    }
  }

  .link {
    font-family: $font-sans;
  }
  .link--action {
    font-family: $font-sans-alt;
  }
  .link--subtle {
    color: $blue-muted;
    font-size: em(18);
    font-weight: 600;
    @media (max-width: em(500px)) {
      font-size: em(22);
    }
  }
  .link--document {
    color: $blue-bright;
    font-size: em(18);
    font-weight: 300;
    @media (max-width: em(500px)) {
      font-size: em(22);
    }
  }
}

// Type Styles for Editorial Features
.typography--feature {
  @media (max-width: 700px) {
    font-size: 14px;
  }
  .headline {
    font-family: $font-serif;
    font-size: em(64);
    font-weight: 300;
    line-height: em(108, 84);
    margin: 0 auto;
  }
    .headline--light {
      color: $white;
    }
    .headline--dark {
      color: $black;
    }
    .headline--giant {
      font-size: em(119);
      line-height: em(128, 119);
      @media (max-width: 800px) {
        font-size: em(81);
        line-height: em(95, 81);
      }
      @media (max-width: 600px) {
        font-size: em(60);
        line-height: em(70, 60);
      }
    }
    .headline--large {}

  .byline {
    color: $gray-medium;
    font-family: $font-sans;
    font-size: em(18);
    line-height: em(24, 18);
  }
    .byline__link {
      color: $gray-medium;
      font-weight: 600;
    }

  .story-body {
    color: $black-near;
    font-size: em(18);
    line-height: em($baseline, 18);
    margin-bottom: em($baseline);
    margin-top: 0;
  }
  .story-body__inagural {
    font-size: em(34);
    line-height: em(64, 34);
    @media (max-width: 600px) {
      font-size: em(28);
      line-height: em(48, 28);
      text-align: left;
    }
  }
  .story-body__subhead {
    font-family: $font-sans;
    font-size: em(34);
    font-weight: 700;
    line-height: em(36, 34);
    margin-bottom: em($baseline / 2);
    text-transform: uppercase;
    @media (max-width: 600px) {
      font-size: em(28);
      line-height: em(30, 28);
    }
  }
  .story-body__subhead--humble {
    color: $gray-medium;
    font-size: em(18);
    line-height: em(32, 18);
    margin-bottom: 0;
    text-transform: none;
  }
  .story-body__pullquote {
    background: $white;
    border-left: 1px solid $blue-light;
    color: $blue-medium;
    font-family: $font-serif;
    font-size: em(30);
    font-weight: 300;
    line-height: em(44, 30);
    margin: 0 0 em($baseline);
    padding: em($baseline / 2);
    position: relative;
    &:before {
      background: url('../images/icon_pullquote.svg') no-repeat left top;
      content: "";
      display: block;
      position: absolute;
      width: 134px;
      height: 119px;
      left: -119px;
      top: 24px;
    }
    @media screen and (max-width: grid-calc(8) - em(1)) {
      font-size: em(24);
      line-height: em(36, 24);
      margin-left: 60px;
      padding: 0 0 0 20px;
      &:before {
        background-size: 100% 100%;
        width: 67px;
        height: 60px;
        left: -67px;
        top: 0;
      }
    }
  }
  .story-body__list {
    list-style-image: url('../images/icon_bullet-blue.svg');
    @media screen and (max-width: 600px) {
      padding-left: 20px;
    }
  }
  .heading {
    color: $black;
    font-family: $font-sans;
    margin-bottom: em($baseline);
    text-transform: uppercase;
  }
  .heading--aside {
    font-size: em(18);
    font-weight: 700;
  }

  .story-body__link--subtle {
    color: $blue-muted;
    font-size: em(18);
    font-weight: 600;
    @media (max-width: em(500px)) {
      font-size: em(22);
    }
  }


  .link--resource {
    color: $blue-medium;
    display: block;
    font-family: $font-sans;
    font-size: em(16);
    font-weight: 400;
    &:before {
      display: inline-block;
      margin-right: 6px;
      width: 14px;
      height: 19px;
      vertical-align: text-top;
    }
    &.data {
      &:before {
        content: url('../images/icon_data.svg');
      }
    }
    &.document {
      &:before {
        content: url('../images/icon_document.svg');
      }
    }
  }
}
