// Set Text Alignment 
$alignments: ("left", "center", "right");

@each $alignment in $alignments {
  .align--#{$alignment} {
    text-align: #{$alignment};
  }
}
.align--left-small-viewport {
  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.spacer {
  @include clearfix();
}
.spacer--4 {
  margin-bottom: em(16 * 4); 
}
.spacer--6 {
  margin-bottom: em(16 * 6); 
}
.spacer--14 {
  margin-bottom: em(16 * 14); 
}