// Set Text Alignment 
$alignments: ("left", "center", "right");

@each $alignment in $alignments {
  .align--#{$alignment} {
    text-align: #{$alignment};
  }
}

.spacer--4 {
  margin-bottom: em(16 * 4); 
}