// Color Variables
$white:           #fff;
$black:           #000;
$charcoal:        #333;
$blue-midnight:   #0F1620;
$blue-dark:       #203047;
$blue-medium:     #698AC7;
$blue-bright:     #8EB5FF;
$blue-muted:      #7D90AC;
$blue-light:      #D5E1F3;
$orange:          #F07A30;

// Font Stack variables
$font-sans:       "freight-sans-pro", sans-serif;