
.chart {
  clear: both;
  padding: 0;
  width: 100%;
}
@media (min-width: 700px) {
  .chart {
    height: 425px;
    margin: 0 auto emCalc(-32px);
  }
}
.chart li {
  display: block;
  height: 125px;
  padding: emCalc(25px) 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
  .chart li {
    display: inline-block;
    height: 425px;
    margin: 0 1.8% 0 0;
    width: 15%;
  }
}
.chart .axis {
  display: none;
  top: emCalc(-45px);
  width: 8%;
}
@media (min-width: 700px) {
  .chart .axis {
    display: inline-block;
  }
}
.chart .label {
  /*background: #cccccc;*/
  margin: -9px 0 71px 0;
}
.chart .percent {
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
  font-size: 30px;
  font-size: 1.875rem;
}
@media (min-width: 700px) {
  .chart .percent {
    position: absolute;
    font-size: 62px;
    font-size: 3.875rem;
  }
}
.chart .percent span {
  font-size: 30px;
  font-size: 1.875rem;
}
.chart .skill {
  font-weight: 800;
  opacity: .5;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 700px) {
  .chart .skill {
    bottom: 20px;
    position: absolute;
    font-size: 16px;
    font-size: 1rem;
  }
}
.chart .bar_chart {
  background: #8eb5ff;
  border: 1px solid #8eb5ff;
}

.radio, .checkbox {
    margin: 30px 0 30px 0;
}

label{
    border: 1px solid #ffffff;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

label [type="radio"], label [type="checkbox"]{
    display: none;
}

[type="radio"] + span, [type="checkbox"] + span{
    display: inline-block;
    padding: 1em;
}

:checked + span{
    background: #8eb5ff;
    border: 1px solid #8eb5ff;
}

[type="radio"][disabled] + span, [type="checkbox"][disabled] + span{
    background: #f00;
}​
